.html , body{
    height: 100%;
    width: 98%;
}
.h1{
    text-align: center;
    font-style: italic;
    background-color: rgb(204, 204, 204);
}

/* baground colour */
.bg-color{
    background-color: rgb(236, 233, 233);
    
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0;
    margin: 0 3px;
    border: 2px solid rgb(236, 233, 233);
    border-radius: 9px;
    cursor: pointer;
    font-size: larger;
    font-style: italic;
    color: teal;
    box-shadow: 10px 10px 10px wheat;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button:hover{
    background-color: gray;
    color: rgb(176, 173, 173);
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 23px;
    margin: 0%;
    padding: 9px 4px;
    border: 2px solid rgb(197, 190, 190);
    border-radius: 5px;
    color: rgb(86, 88, 91);
    background-color: rgb(239, 242, 244);
    box-shadow: 10px 10px 10px rgb(176, 176, 174);
}
/* margin auto */
.me-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}